<html>
  <head>
    <title>Extra Curricular Activities</title>
  </head>
  <body>
    <h1>Extra Curricular Activities</h1>

    <h3>Band and Orchestra</h3>
      <p>Science says those who play an instrument are better at math. Improve your arithmetics by joining band or orchestra</p>

    <h3>Forensics</h3>
      <p>Public speaking is a skill that is lacking in today's generation. Have a strong point-of-view, or a knack for performing under pressure? Join the forensics team and speak your way into the NFL (National Forensics League).</p>

      <p><strong>Notable NFL members:</strong> Oprah Winfrey, Stephen Colbert, the creator of The Simpsons, Sec. or State, Hillary Clinton, Vice-President, Joe Biden.</p>
    <h3>Theatre</h3>
      <p>Feel like you belong and are part of a team when you join theatre. Help us put on productions of Pippin, Aladdin, and The Little Shop of Horrors. In theatre, we know it is not <em>all</em> about actors and acting. A lot more goes into making these productions run. Learn about sound and lighting, costumes, set design, and scripting when you join us.</p>

    <h3>Science Olympiad</h3>
      <p>If storming the castle with a catapult or identifying plants is your thing, then come join science olympiad. We love a good science joke, and we hope you do, too.</p>

  </body>
</html>